/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

/* Utilities or Based Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  font-family: "Mulish", sans-serif;
}
.inter {
  font-family: "Inter", sans-serif;
}
.leading-snug {
  line-height: 86px !important;
}
